<div class="container">
<div class="form-login box text-center">

    <%= form_with(scope: :session, url: sessions_path, local: true) do |form|%>
    <div class="form-group">
      <p><%= form.email_field :email, placeholder: 'email', class: "log-in-tag" %></p>
    </div>
    <div class="form-group">
      <p><%= form.password_field :password, placeholder: 'password', class: "log-in-tag" %></p>
    </div>

        <div class="actions">
        <%= form.submit "Login" %>
        </div>


    <% end %>

    <p>New Account？<%= link_to 'Create an account', new_user_path %></p>
    </div>

</div>
