<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message|%>
  <div class="alert alert-danger" role="alert">
    <%= message %>
  </div>
  <% end %>
<% end %>

<%= form_with(model: @user, local: true) do |form| %>

<p><%= form.text_field :name, placeholder: 'name' %></p>
<p><%= form.email_field :email, placeholder: 'email' %></p>
<p><%= form.password_field :password, placeholder: 'password' %></p>
<p><%= form.password_field :password_confirmation, placeholder: 'password_confirmation' %></p>
<div class="setup_form_button">
  <%= form.submit "Update my account" %>
</div>
<%  end %>
<div class = "setup_form setup_form_to_login">
<p>
  <%= link_to "Home", @user %> |
  <%= link_to 'Back', users_path %>
</p>
</div>
