
<div class="container-fluid text-center">

  <div class="col-xs-8 col-xs-push-2">
    <p id="notice"><%= notice %></p>
  </div>
          <span style="font-size:36px">
              <%= @user.name %><br>
            </span>
            <strong>Email:</strong>
              <%= @user.email %>


          <% if logged_in? %>
              <% if @user == current_user %>
                <%= link_to 'New Post', new_post_path , class: "btn btn-outline-dark common-btn edit-profile-btn" %>
                <%= link_to 'Edit Info', edit_user_path(@user) , class: "btn btn-outline-dark common-btn edit-profile-btn" %>
                <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger "%>
              <% end %>
          <% end %>
</div>
