<div class= "content">
<h1>All Posts</h1>

<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>

<% @posts.each do |post| %>
<article class="post">
<% if logged_in? %>


  <% end %>
  <small><strong><%= post.user.name %></strong></small>
  <% if post.image && post.image.url %>
    <p><%= image_tag post.image.url, size: 25*25, class: "image" %><p>
      <%= link_to 'Show', post, class: "btn btn-info" %>
  <% end %>
  <br>
  <large><%= post.posts %></large>
  <br>
  <small><%= post.created_at.strftime('%Y/%-m/%-d %-H:%-M') %></small>
  <% end %>
  </article>

</div>
