<p id="notice"><%= notice %></p>
<p><%= @post.user.name %>
</p>
<p><strong>Image:</strong>
  <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
</p>

<p><%= @post.posts %></p>

<% unless @post.user_id == current_user.id %>
  <% if @favorite.present? %>
    <button type="button" class="btn btn-danger"><%= link_to 'Unfavorite', favorite_path(id: @favorite.id), method: :delete %>
  <% else %>
    <button type="button" class="btn btn-primary"><%= link_to 'Favorite', favorites_path(post_id: @post.id), method: :post %>
  <% end %>
<% end %>

<% if @post.user_id == current_user.id %>
  <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_post_path(@post) %>
  <button type="button" class="btn btn-danger"><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<button type="button" class="btn btn-default"><%= link_to 'Back', posts_path %>
