<p id="notice"><%= notice %></p>
<p><%= @post.user.name %>
</p>
<p><strong>Image:</strong>
  <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
</p>

<p><%= @post.posts %></p>

<% unless @post.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'Unfavorite', favorite_path(id: @favorite.id), method: :delete, class:"btn btn-info" %>
  <% else %>
    <%= link_to 'Favorite', favorites_path(post_id: @post.id), method: :post, class: "btn btn-info" %>
  <% end %>
<% end %>

<% if session[:user_id] == @post.user.id %>
  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-danger" %>
  <button type="button" class="btn btn-default"><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-danger hidden" %>
<% end %>

<button type="button" class="btn btn-default"><%= link_to 'Back', posts_path %>
